{% extends "base.html"%}
{%block title%} Planning {%endblock%}
{%block id%}id = "interact"{%endblock%}
{%block content%}

<div class = "wrapper" id = "wrapper">
    <div class = "output">
        <div class = "textBubble">
            <img src = "../static/ai.jpg" alt = "AIProfile">
            <h2>SocialPal</h2>
            <p>Hello! I'm SocialPal, your personal event planning assistant! I'm excited to help you plan an unforgettable social event. Before we get started, can you please tell me what kind of event you're looking to plan? Is it a birthday party, wedding, corporate event, or something else?</p> <!--{{aiResponse}}-->
        </div>

        {% for i in data %}
            {% if data.index(i)%2 == 0 %}
                <div class = "textBubble">
                    <img src = "../static/user.jpg" alt = "userProfile">
                    <h2>You</h2>
                    <p>{{i}}</p>
                </div>
            {% else %}
                <div class = "textBubble">
                    <img src = "../static/ai.jpg" alt = "AIProfile">
                    <h2>SocialPal</h2>
                    <p>{{i}}</p> <!--{{aiResponse}}-->
                </div>
            {% endif %}
        {% endfor %}
    </div>
    

    <div class = "inputBox">
        <form action = "#" method = "post">
            <input type = "text" id = "userInput" name = "userInput" placeholder="Input your need">
        </form>
    </div>
    <form action="/clean_list" method="post">
        <input type="submit" id="clearButton" value="Clean conversation">
    </form>

</div>

{%endblock%}

{%block script%}
<script>
    var message = document.getElementById("wrapper");
    window.onload = function () {
        message.scrollTo(0, message.scrollHeight);
    };
</script>
{%endblock%}