{% extends "base.html"%}
{%block title%} About {%endblock%}
{%block id%}id = "about"{%endblock%}
{%block content%}
<div class = aboutPageContent>
    <h1>About This Project</h1>
    <p>This project is created for the LHS codefest and is intended to help local businesses to have a easier method to connect with the local community. Therefore benefiting both sides by allowing people to plan their social event with the cheapest price and bring more customer to local business. </p>

</div>
{%endblock%}